<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           ">
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	    <property name="dataSource" ref="dataSource"/>
	    <property name="annotatedClasses">
	      <list>
	        <value>com.media2359.euphoria.model.project.Project</value>
	        <value>com.media2359.euphoria.model.project.ProjectTeam</value>
	        <value>com.media2359.euphoria.model.employee.Employee</value>
	      </list>
	    </property>
 	    <property name="hibernateProperties">
	      <value>
	        hibernate.dialect=org.hibernate.dialect.HSQLDialect
	        hibernate.show_sql=true
	      </value>
	    </property>
	</bean>	
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    <bean id="projectDao" class="com.media2359.euphoria.dao.project.ProjectDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="employeeDao" class="com.media2359.euphoria.dao.employee.EmployeeDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="projectTeamDao" class="com.media2359.euphoria.dao.project.ProjectTeamDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="echoDao" class="com.media2359.euphoria.dao.demo.EchoDaoImpl">
    </bean>
    
    <bean id="employee" class="com.media2359.euphoria.model.employee.Employee" >
    </bean>
    
    <bean id="project" class="com.media2359.euphoria.model.project.Project" >
     </bean>   
</beans>