<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           ">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.hibernate.dialect.PostgreSQLDialect" />
	    <property name="url" value="jdbc:postgresql://ec2-107-20-165-44.compute-1.amazonaws.com:5432/d8v2g0k1hmslu5?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
	    <property name="username" value="zedrhyqjlrywyi"/>
	    <property name="password" value="nc5BPLEAH-tOoEM-RZ5eaE-8tk"/>
	</bean>
</beans>